.combo img{
    width: 100%;
    padding-top: 50px;
}

.add1{
    padding-top: 50px;
    text-align: center;
}

.add2{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
